body {
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}
.card {
  text-align: center;
  color: black;
  background-color: white;
  border: 2px solid black;
  padding: 20px;
  width: 340px;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(30, 29, 29, 0.2);
}
.card img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: blanchedalmond;
}


.card h3 {
  color: black;
  font-weight: bold;  margin-bottom: 10px;
}

.card button {
  margin: 5px;
  padding: 8px 16px;
  border: none;
  background-color: #5999dc;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.card button:hover {
  background-color: #095ca1;
}
.quote{
  color:black;
  font-weight: bold;;
}
.tag {
  display: inline-block;
  background-color: #5999dc; 
  color: white;
  padding: 5px 12px;
  margin: 5px 5px 0 0;
  border-radius: 20px;
  font-weight: bold;
  font-size: 14px;
}
.subject{
  font-weight: bold;
  font-style:timesnewroman;
  font-size: medium;
}